{% extends "mysite/header.html" %}

{% block content %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<style>
  .list-link-hover-effect:hover {
    background-color: lightgray;
  }
  .list-link {
    background-color: white;
  }
</style>

<div class="container py-5">
  <div class="list-group">
    <li class="list-group-item d-flex flex-row border-dark bg-dark">
      <div class="h3 my-auto text-white me-auto me-md-3">Exhibitions</div>
      <a href="/gallery/exhibitions/new/" class="btn btn-outline-light">New Exhibition</a>
    </li>
    {% if exhibs %}
    {% for exhib in exhibs %}
    <a href="/gallery/exhibitions/{{ exhib.id }}/"
            class="list-group-item d-flex justify-content-start border-dark
           text-decoration-none list-link-hover-effect list-link">
      <p class="my-auto fw-bold text-decoration-none me-auto me-md-2 text-black">{{ exhib.title }}</p>
    </a>
    {% endfor %}
    {% else %}
    <li class="list-group-item d-flex justify-content-start bg-white border-dark">No exhibitions to display.</li>
    {% endif %}
  </div>
</div>

{% endblock %}
