{% extends "mysite/header.html" %}

{% block content %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<style>
  .piece-link-hover-effect:hover {
    color: red;
  }
  .piece-link {
    color: black;
  }
</style>

<div class="container py-5">
  <div class="list-group">
    <li class="list-group-item d-flex flex-row border-dark bg-dark">
      <div class="h3 my-auto text-white me-auto me-md-3">Pieces</div>
      <a href="/gallery/pieces/new/" class="btn btn-outline-light">New Piece</a>
    </li>
    {% if pieces %}
      {% for piece in pieces %}
        <li class="list-group-item d-flex justify-content-start bg-white border-dark">
          <a href="/gallery/pieces/{{ piece.id }}/"
             class="my-auto fw-bold text-decoration-none piece-link-hover-effect piece-link me-auto me-md-2">{{ piece.title }}</a>
        </li>
      {% endfor %}
    {% else %}
      <li class="list-group-item d-flex justify-content-start bg-white border-dark">No pieces to display.</li>
    {% endif %}
  </div>
</div>

{% endblock %}
