{% extends "mysite/header.html" %}

{% block content %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container py-5">
  <div class="list-group">
    {% for piece in pieces %}
      <li class="list-group-item d-flex justify-content-between">
        <a href="/gallery/pieces/{{ piece.id }}" style="color: black">{{piece.title}}</a>
        <a href="/gallery/pieces/{{ piece.id }}/edit" class="btn btn-outline-secondary">Edit</a>
      </li>
    {% endfor %}
  </div>
</div>

{% endblock %}
