{% extends "mysite/header.html" %}

{% block content %}

{% load django_bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
{% bootstrap_messages %}

<div class="container py-5">
    <div class="alert alert-warning alert-dismissible fade show" role="alert">
        Dismissible Warning Alert
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
    </div>

    <div class="alert alert-danger" role="alert">
        Non-Dismissible Danger Alert
    </div>

    <h1>You're at the homepage!</h1>
</div>

{% endblock %}