{% extends "mysite/header.html" %}

{% block content %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}



<div class="container py-5">
    <h3 class="mb-3">Dashboard</h3>
</div>

<template id="piece-card">
    <div class="card" style="width: 18rem;">
        <img src='#' class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</template>

{% endblock %}