{% extends "mysite/header.html" %}

{% block content %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}



<div class="container py-5">
    <div class="row">
        <div class="col">
            <a href="/gallery/pieces/" class="btn btn-outline-secondary">Pieces</a>
        </div>
        <div class="col">
            <a href="/gallery/exhibitions/" class="btn btn-outline-secondary">Exhibitions</a>
        </div>
    </div>
    <div class="row">
        <div class="col-sm">Example Exhib</div>
        <div class="col-sm">Example Exhib</div>
        <div class="col-sm">Example Exhib</div>
        <div class="col-sm">Example Exhib</div>
    </div>
    <div class="row">
        <div class="col-sm">Example Exhib</div>
        <div class="col-sm">Example Exhib</div>
        <div class="col-sm">Example Exhib</div>
        <div class="col-sm">Example Exhib</div>
    </div>
    <p>Welcome to the gallery dashboard!</p>
</div>

<template id="piece-card">
    <div class="card" style="width: 18rem;">
        <img src='#' class="card-img-top" alt="...">
        <div class="card-body">
            <h5 class="card-title"></h5>
            <p class="card-text"></p>
            <a href="#" class="btn btn-primary">Go somewhere</a>
        </div>
    </div>
</template>

{% endblock %}