{% extends "mysite/header.html" %}

{% block content %}

{# Load the tag library #}
{% load django_bootstrap5 %}

{# Load CSS and JavaScript #}
{% bootstrap_css %}
{% bootstrap_javascript %}

{# Display django.contrib.messages as Bootstrap alerts #}
{% bootstrap_messages %}

<div class="container py-5">
    <p>Welcome to the gallery dashboard!</p>
</div>

<div class="container col-md-6">
    <div class="mb-5">
        <label for="Image" class="form-label">Upload New Image</label>
        <input class="form-control" type="file" id="formFile" onchange="preview()">
        <button onclick="clearImage()" class="btn btn-primary mt-3">Click me</button>
    </div>
    <img id="frame" src="" class="img-fluid" />
</div>

<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
    function clearImage() {
        document.getElementById('formFile').value = null;
        frame.src = "";
    }
</script>

{% endblock %}