<form action="/gallery/pieces/new/" enctype="multipart/form-data" method="post">
    {% csrf_token %}
    <div class="form-group my-3">
        <label class="mb-1" for="inputTitle">Title<span style="color: red;">*</span></label>
        <input class="form-control" id="inputTitle" name="pieceTitle"
               placeholder="Enter piece title" value="{{ created_title }}">
        <div style="color: red">{{ title_error }}</div>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1" for="inputDescription">Description</label>
        <textarea class="form-control" id="inputDescription" name="pieceDescription"
                  placeholder="Enter piece description">{{ created_desc }}</textarea>
        <div style="color: red">{{ desc_error }}</div>
    </div>
    <div class="form-group mb-3">
        <label class="mb-1" for="inputImage">Source Image<span style="color: red;">*</span></label>
        <input class="form-control" id="inputImage" type="file" name="pieceImage" onchange="preview()">
        <div style="color: red">{{ img_error }}</div>
        <img id="frame" src="" class="img-fluid">
    </div>
    <input class="btn btn-primary" type="submit" value="Submit">
</form>

<script>
    function preview() {
        frame.src = URL.createObjectURL(event.target.files[0]);
    }
</script>